.answerchoice {
	border: 20px solid purple;
  border-radius: 2%;
	width: 30%;
	color: white;
  text-align: center;
  margin: 5px auto;
  font-size: 20px;
  background-color: black;

}



#answerblock {
  text-align: center;

}

#questionblock {
  text-align: center;
  font-weight: bold;
  color: green;
}

#reset {
  visibility: visible;
}



h1 {
  text-align: center;
  color: yellow;
  font-weight: bolder;
  padding: 10px;
  font-size: 70px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: red;
  font-size: 20px;
}

h2  {
  margin: 30px;
  font-weight: bold;
}

.wrapper {
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #403fd3;
  height: 428px;
  width: 70%;
  text-align: center;
}

.btn {
  position: relative;
  bottom: -110px;
}
.bod {
  background-color: aqua;
}
body {
  background-color: aqua;
}